/**==================================================**/


/*Grid System*/

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.col .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row .row {
    margin-top: 30px;
    margin: 0 auto;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.5rem;
    min-height: 1px;
    padding-top: 5px;
}


/* Computer Screen */

@media only screen and (min-width: 993px) {
    .row .col.off-l1 {
        margin-left: 8.3333333333%;
    }
    .row .col.off-l2 {
        margin-left: 16.6666666667%;
    }
    .row .col.off-l3 {
        margin-left: 25%;
    }
    .row .col.off-l4 {
        margin-left: 33.3333333333%;
    }
    .row .col.off-l5 {
        margin-left: 41.6666666667%;
    }
    .row .col.off-l6 {
        margin-left: 50%;
    }
    .row .col.off-l7 {
        margin-left: 58.3333333333;
    }
    .row .col.off-l8 {
        margin-left: 66.6666666667%;
    }
    .row .col.off-l9 {
        margin-left: 75%;
    }
    .row .col.off-l10 {
        margin-left: 83.3333333333%;
    }
    .row .col.off-l11 {
        margin-left: 91.6666666667%;
    }
    .row .col.l1 {
        width: 8.3333333333%;
    }
    .row .col.l2 {
        width: 16.6666666667%;
    }
    .row .col.l3 {
        width: 25%;
    }
    .row .col.l4 {
        width: 33.3333333333%;
    }
    .row .col.l5 {
        width: 41.6666666667%;
    }
    .row .col.l6 {
        width: 50%;
    }
    .row .col.l7 {
        width: 58.3333333333%;
    }
    .row .col.l8 {
        width: 66.6666666667%;
    }
    .row .col.l9 {
        width: 75%;
    }
    .row .col.l10 {
        width: 83.3333333333%;
    }
    .row .col.l11 {
        width: 91.6666666667%;
    }
    .row .col.l12 {
        width: 100%;
    }
}


/** Tablet Screen **/

@media only screen and (min-width: 601px) and (max-width:992px) {
    .row .col.m1 {
        width: 8.3333333333%;
    }
    .row .col.m2 {
        width: 16.6666666667%;
    }
    .row .col.m3 {
        width: 25%;
    }
    .row .col.m4 {
        width: 33.3333333333%;
    }
    .row .col.m5 {
        width: 41.6666666667%;
    }
    .row .col.m6 {
        width: 50%;
    }
    .row .col.m7 {
        width: 58.3333333333%;
    }
    .row .col.m8 {
        width: 66.6666666667%;
    }
    .row .col.m9 {
        width: 75%;
    }
    .row .col.m10 {
        width: 83.3333333333%;
    }
    .row .col.m11 {
        width: 91.6666666667%;
    }
    .row .col.m12 {
        width: 100%;
    }
}


/**Phone Screen*/

@media only screen and (max-width: 601px) {
    .row .col.off-s1 {
        margin-left: 8.3333333333%;
    }
    .row .col.off-s2 {
        margin-left: 16.6666666667%;
    }
    .row .col.off-s3 {
        margin-left: 25%;
    }
    .row .col.off-s4 {
        margin-left: 33.3333333333%;
    }
    .row .col.off-s5 {
        margin-left: 41.6666666667%;
    }
    .row .col.off-s6 {
        margin-left: 50%;
    }
    .row .col.off-s7 {
        margin-left: 58.3333333333;
    }
    .row .col.off-s8 {
        margin-left: 66.6666666667%;
    }
    .row .col.off-s9 {
        margin-left: 75%;
    }
    .row .col.off-s10 {
        margin-left: 83.3333333333%;
    }
    .row .col.off-s11 {
        margin-left: 91.6666666667%;
        
    }
    .row .col.s1 {
        width: 8.3333333333%;
    }
    .row .col.s2 {
        width: 16.6666666667%;
    }
    .row .col.s3 {
        width: 25%;
    }
    .row .col.s4 {
        width: 33.3333333333%;
    }
    .row .col.s5 {
        width: 41.6666666667%;
    }
    .row .col.s6 {
        width: 50%;
    }
    .row .col.s7 {
        width: 58.3333333333%;
    }
    .row .col.s8 {
        width: 66.6666666667%;
    }
    .row .col.s9 {
        width: 75%;
    }
    .row .col.s10 {
        width: 83.3333333333%;
    }
    .row .col.s11 {
        width: 91.6666666667%;
    }
    .row .col.s12 {
        width: 100%;
    }
}