html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: inherit;
    font-size:15px;
    line-height:1.5;
}
nav{
    background: black;
    height: 40px;
    position: relative;
}

.sidebar{
    height:100%;
    width:200px;
    background-color:black;
    position:fixed !important;
    z-index:1;
    overflow:auto;
}

.sidebar-btn{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-weight: bold;
}

<<<<<<< HEAD
.close:hover, .closed:hover{
  cursor: pointer;
}
=======
>>>>>>> gh-pages




input, button{
    text-transform: none !important;
    border: none;
    overflow: none;
    outline: none;
    text-decoration: none;
    padding: 5px;

}


/*
    Others
*/

.left{
    float:left;
}

.text-white{
    color: white;
}